<h1>Create a New Product</h1>
<form action="CreateSubmit" method="post">
    <dt>Name</dt>
    <input name="Name" /><br/>
    <dt>Description</dt>
    <input name="Description" /><br/>
    <dt>Price</dt>
    <input name="Price" type="number" /><br/>
    <!-- doesn't let you input a decimal. fix that -->
    <dt>Category</dt>
    <input name="Category" /><br/><br/>
    <input type="submit" />
</form>