@model CoffeeShop.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<!-- style table!! -->
<!-- fix decimal issue -->
<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Category</th>
    </tr>
    <tr>
        <td>@Model.Name</td>
        <td>@Model.Description</td>
        <td>$@Model.Price</td>
        <td>@Model.Category</td>
    </tr>
</table>
