@model CoffeeShop.Product[]

@{
    ViewData["Title"] = "Product";
}

<h1>Products</h1>
<ul>
@{
    foreach (var currProduct in Model)
    {
        <li><a href="Details?Id=@currProduct.Id">@currProduct.Name</a></li>
    }
}
</ul>
