@model IEnumerable<CoffeeShop.Models.Product>

@{
    ViewData["Title"] = "Product";
}

<h1>Products</h1>

<p>Oh boy</p>
<p>



<p>fjdsk</p>

    <!--
        create foreach to list all products in Products table
        each entry should have a link to view the details (Details.cshtml)
        the problem is, i can't convert my database table to a list because i have no brain.
    -->
</p>
