@model CoffeeShop.Product[]

@{
    ViewData["Title"] = "Product";
}

<h1>Products</h1>
<p>There are @Model.Length products.</p>
<ul>
@{
    foreach (var currProduct in @Model)
    {
            <li><a href="Details?Id=@currProduct.Id">@currProduct.Name</a></li>
    }
}
</ul>
<p><a href="Create">Create a New Product</a></p>
